.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  border-bottom: 1px solid #f9f9f9;
}

.header_person {
  padding: 20px;
}

.header_logo {
  object-fit: contain;
  height: 40px;
}

.header_forum {
  margin-right: 10px;
  padding: 20px;
}